#include <windows.h>

#include "safe/product_name.h"
#include "safe/win/resources.h"
#include "safe/version.h"

// Wonderfully guided by:
// http://www.transmissionzero.co.uk/computing/win32-apps-with-mingw/

#if SAFE_VERSION_MAJOR > 65535
#error SAFE_VERSION_MAJOR is too large
#endif

#if SAFE_VERSION_BUILD > 65535
#error SAFE_VERSION_BUILD is too large
#endif

// Executable version information.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        0, SAFE_VERSION_MAJOR, 0, SAFE_VERSION_BUILD
PRODUCTVERSION     0, SAFE_VERSION_MAJOR, 0, SAFE_VERSION_BUILD
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
  FILEFLAGS        VS_FF_DEBUG | VS_FF_PRERELEASE
#else
  FILEFLAGS        0
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "Rian Hunter"
      VALUE "FileDescription", PRODUCT_NAME_A
      VALUE "FileVersion", SAFE_VERSION_STR
      VALUE "InternalName", PRODUCT_NAME_A
      VALUE "LegalCopyright", "© 2014 Rian Hunter"
      VALUE "OriginalFilename", PRODUCT_NAME_A ".exe"
      VALUE "ProductName", PRODUCT_NAME_A
      VALUE "ProductVersion", SAFE_VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END

IDI_SFX_APP ICON "app_win.ico"
ID_SFX_RD_INF SFX_BIN_RSRC "safe_ramdisk.inf"
ID_SFX_RD_SYS32 SFX_BIN_RSRC "safe_ramdisk.sys"
ID_SFX_RD_SYS64 SFX_BIN_RSRC "safe_ramdisk_x64.sys"

#ifndef _WIN64
ID_SFX_UPDATE_DRV SFX_BIN_RSRC "update_driver.exe"
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
