<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Botan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lockbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>google-glog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>protobuf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>963D09A217A1D89D00AEE673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963D09C217A1D89D00AEE673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9676F35117A705DB004BF276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969321CB17A5EAD9002B0C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969321CF17A5EB95002B0C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969321D517A5F7AE002B0C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
